<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Userid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-userId" class="form-control" name="row[userId]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" class="form-control" name="row[phone]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Provinceid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-provinceId" class="form-control" name="row[provinceId]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cityid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cityId" class="form-control" name="row[cityId]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Areaid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-areaId" class="form-control" name="row[areaId]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Useraddress')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-userAddress" class="form-control" name="row[userAddress]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Isdefault')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-isDefault" class="form-control" name="row[isDefault]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Provincename')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-provinceName" class="form-control" name="row[provinceName]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cityname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cityName" class="form-control" name="row[cityName]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Areaname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-areaName" class="form-control" name="row[areaName]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
